In [2]:
# Dynamic Typing
# Mutable objects in Python can be identical in content

In [3]:
L = [1,2,3]

In [4]:
M = [1,2,3]

In [6]:
L == M # Comparing two list element-wise

True

In [7]:
L is M # Is not the same object.

False

In [8]:
id(L)

2636311487424

In [9]:
id(M)

2636311488128

In [10]:
# Note the above lists are identical in content, yet they are different objects

In [11]:
L = [1,2,3]

In [13]:
M = L # M is another name for the list L, same object

In [14]:
M = list(L) #Python creates a new obejct, now they are different objects

In [15]:
M = L[:] # creates a new object

In [16]:
# Dynamic Typing: Question 3 
L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [17]:
# What does L1 equal?
L1

[24, 3, 4]

In [18]:
# Dynamic Typing: Question 4 
L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2 # False since M2 is a new object from L, M1 is the same object as L

False

In [20]:
# Copies ---------------------------------------------------------------------------------------------------------
# Create identical copies of objects
# Two types of copies:
# 1) Shallow Copy - makes references to same object
# 2) Depp Copy - duplicates objects in new objects. This copy has its own objects

In [21]:
# Copies: Question 1 
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

In [22]:
# Statements -------------------------------------------------------------------------------------------------------
# return - returns values from a function
# Import - import modules
# Pass - to do nothing?

In [23]:
# Compound statements
if x > y: # header line
    difference = x - y # block of code
    print("x is greater than y") # block of code
print("But this get printed no matter what!") 

# IDENTATION IS NOT COSMETIC AS IN OTHER LANGUAGES. IT IS USEFUL TO DETERMINE THE LOGICAL STRUCTURE

But this get printed no matter what!

In [24]:
# Example
if x > y:
    absval = x - y
elif y > x:
    absval = y - x
else: 
    absval = 0

In [25]:
# Statements: Question 1 
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [28]:
# Statements: Question 2 
n = 2  
if n%2 == 0:
    print("even")
else:
    print("odd")

even

In [29]:
# For and While Loops -------------------------------------------------------------------------------------------------
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [31]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [32]:
for name in names:
    print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [36]:
# implement indexes as in other languages (NOT VERY PYTHONG)
for i in range(len(names)):
    print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [38]:
age={'Tim':29, 'Jim':31, 'Pam':27, 'Sam':35}

In [42]:
for name in age.keys():
    print(name, age[name])

Tim 29
Jim 31
Pam 27
Sam 35

In [43]:
for name in age: # same as before
    print(name, age[name])

Tim 29
Jim 31
Pam 27
Sam 35

In [44]:
for name in sorted(age.keys()): # alphabetical order
    print(name, age[name])

Jim 31
Pam 27
Sam 35
Tim 29

In [46]:
for name in sorted(age.keys(), reverse = True):
    print(name, age[name])

Tim 29
Sam 35
Pam 27
Jim 31

In [52]:
# For and While Loops: Question 1 
# Consider bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}. Can you replace #blank# so the code will print a greeting only to friendly bears? 
# Your code should work even if more bears are added to the dictionary.
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}
for bear in bears:
    if bears[bear] == "friendly": #blank#:
        print("Hello, "+bear+" bear!")
else:
    print("odd")

Hello, Brown bear!
Hello, Polar bear!
odd

In [62]:
# For and While Loops: Question 2 
# Can you fill in the #blank# line so the code will only print True if n is prime?
is_prime = True
n = 7
for i in range(2,n):
    if n%i == 0:
        is_prime = False
        break # terminate the loop
print(is_prime)

True

In [65]:
# For and While Loops: Question 3 
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [77]:
# List Comprehensions
# apply an operation to all elements in a list and create a new list
# list comprehensions are very fast!!
numbers = range(10)

In [78]:
squares = []

In [79]:
for number in numbers:
    square = number**2
    squares.append(square)

In [80]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
# same as the loop above 
squares2 = [number**2 for number in numbers] # list comprehension

In [82]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
# List Comprehensions: Question 1 
sum([i**2 for i in range(3)])

5

In [92]:
# List Comprehensions: Question 2 
# How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9? 
sum(x for x in range(10) if x % 2)

25

In [ ]:
# Reading and Writing Files ----------------------------------------------------------------------------------------------

In [113]:
filename = "input.txt"

In [114]:
for line in open(filename):
    print(line)

Hello

World

In [104]:
for line in open(filename):
    line = line.rstrip()
    print(line)

first line
second line
third line

In [108]:
for line in open(filename):
    line = line.rstrip().split(" ")# return a list splitting for every white space
    print(line)

['first', 'line']
['second', 'line']
['third', 'line']

In [109]:
F = open("output.txt", "w") # create a file object for writing (w)

In [110]:
F.write("Python\n") # content of the file

7

In [111]:
F.close() # close the file

In [112]:
# Reading and Writing Files: Question 1 
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [121]:
# Introduction to Functions -------------------------------------------------------------------------------------------------
# Functions are written using the def statement
def add(a,b):# define an add function
    mysum = a + b
    return mysum

In [122]:
add(12,15)

27

In [123]:
# global variables
def add_and_sub(a,b):
    mysum = a + b
    mydiff = a - b
    return (mysum, mydiff)

In [124]:
add_and_sub(20,15)

(35, 5)

In [125]:
new_add = add # different names for the same function

In [133]:
def modify(mylist): # How it works with immutable objects
    mylist[0]*=10

In [134]:
L = [1,3,5,7,9]

In [135]:
modify(L)

In [136]:
L

[10, 3, 5, 7, 9]

In [137]:
# Introduction to Functions: Question 1 
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L # same objects

True

In [139]:
# Writing Simple Functions --------------------------------------------------------------------------------------------
def intersect(s1, s2):
    res = []
    for x in s1:
        if x in s2: 
            res.append(x)
    return res

In [140]:
intersect([1,2,3,4,5], [3,4,5,6,7])

[3, 4, 5]

In [142]:
import random
random.choice([1,2,3,4])
random.choice("abcde")

'c'

In [158]:
def password(length):
    pw = str() # empty string
    characters = "abcdefghijklmnopqrstuvwxyz" + "0123456789"
    for i in range(length):
        pw= pw + random.choice(characters)
    return pw

In [160]:
password(100)

'khhu9b371g4ehlkl79q5m1o1dldk0ywo0b2cl1ib1fbymayc8o4oizo58ikkjpc29qnkyejw3e6ncefx4iyj6emq2qmc5xp5o37f'

In [162]:
# Writing Simple Functions: Question 1 
# Consider the function intersect() defined in the previous video, 1.3.8: Writing Simple Functions. What will intersect([1,2,3], [3,4,5,6,7]) return?
intersect([1,2,3], [3,4,5,6,7])

[3]

In [166]:
# Writing Simple Functions: Question 2 
# Can you replace #blank# in the second line so is_vowel becomes a function that takes a letter as input and prints whether a letter is a vowel (in "aeiouy")? 
    
def is_vowel(letter):
    if letter in "aeiouy":#blank#:
        return(True)
    else:
        return(False)
is_vowel("a")

True

In [169]:
# Writing Simple Functions: Question 3 
# Consider the function call is_vowel(4). Why would this not work?
# Answer: not a string

In [171]:
# Writing Simple Functions: Question 4 
      
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [172]:
# Does this properly accommodate objects of type int for use with is_vowel? For example, will is_vowel(4) produce a correct answer?
is_vowel(4)

False

In [191]:
# Writing Simple Functions: Question 5 
# Can you fill in the #blank# to complete the function as described above? 
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N = N*i #blank#
        return(N)

In [194]:
factorial(4)

24