In [1]:
# 3 basic sequences: lists, tupes, and range objects
# indexing starts at 0
# x[0] = x[-n]
# slicing: x[0:2] it returns objects 0 and 1 , not object at 2

In [2]:
# Lists: 
# lists are sequences of any type of items
# strings are inmutables and lists are mutable
#

In [3]:
numbers = [2,4,6,8]

In [8]:
numbers[0]

2

In [9]:
numbers[-1]

8

In [12]:
numbers.append(10)

In [13]:
numbers

[2, 4, 6, 8, 10, 10]

In [14]:
x = [13, 14, 16]

In [18]:
numbers + x # concatenate 2 lists

[2, 4, 6, 8, 10, 10, 13, 14, 16, 13, 14, 16]

In [19]:
numbers.reverse() # reverse order function

In [20]:
numbers

[16, 14, 13, 10, 10, 8, 6, 4, 2]

In [23]:
names = ["Zofia", "Alex", "Morgan", "Anthony"]

In [24]:
names.sort() # order alphabetical order

In [25]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [28]:
names.reverse()

In [29]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [30]:
# construct a new list sorted alphabetically
sorted_names = sorted(names)

In [31]:
sorted_names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [32]:
len(names) # number of objects in list

4

In [1]:
# Lists Exercises

In [ ]:
# Lists: Question 2 Consider a list x=[1,2,3]. Enter the code below for how you would use the append method to add the number 4 to the end of list x.

In [6]:
x=[1,2,3]

In [9]:
x.append(4)
x + [4] # one way

[1, 2, 3, 4, 4]

In [14]:
# Tuples -------------------------------------------------------------------------------------------------------------

In [15]:
# Tuples are inmutable sequences, usually used to store heterogeneous data, these are lists in R, and list in python are vectors in R. Here we can have a list of tuples

In [16]:
T = (1,3,5,7)

In [17]:
len(T)

4

In [18]:
T + (9, 11) # concatenate tuples

(1, 3, 5, 7, 9, 11)

In [19]:
T[1] # Access a tuple as in lists

3

In [20]:
x = 12.23

In [21]:
y = 23.34

In [22]:
coordinate = (x,y) # packing a tuple

In [23]:
type(coordinate)

tuple

In [24]:
(c1,c2) = coordinate # unpack a tuple

In [25]:
c1

12.23

In [26]:
c2

23.34

In [32]:
# Use tuples in foor loops ---
coordinates = [(1,1), (2,2), (3,3)] # list of tuples

In [33]:
for (x,y) in coordinates:
    print(x,y)

1 1
2 2
3 3

In [35]:
for x,y in coordinates: # we can avoid using parenthesis
    print(x,y)

1 1
2 2
3 3

In [36]:
c = (2,3)

In [37]:
type(c)

tuple

In [38]:
# construct a new tuple with one object in it

In [39]:
c = (1) # not actually a tuple

In [40]:
type(c)

int

In [42]:
c = (1,) # this is a tuple

In [43]:
type(c)

tuple

In [44]:
c = 1, # also works

In [45]:
type(c)

tuple

In [50]:
# Tuples: Question 1 
x=(1,2,3)
# How could you add the integer 4 to the end of the tuple?

In [54]:
# This is impossible. Tuples are immutable, so they can't be edited after they’ve been created.

In [66]:
# Tuples: Question 2: Consider x=(1,2,3). Use the count method to count the number of 3s in x
x.count(3)

1

In [68]:
# Tuples Question 3: Consider again x=(1,2,3). If you wanted the sum of the numbers in x using a single function, which command would you use?
sum(x)

6

In [70]:
# Ranges -----------------------------------------------------------------------------------------------------------

In [72]:
# Ranges are immutable sequences of integers
range(5)

range(0, 5)

In [74]:
# note we turn them into list to see the full objects store in range(.)
list(range(5)) # we can see the values in range(5), python stops one before the stopping value

[0, 1, 2, 3, 4]

In [75]:
list(range(1,6)) # starting at 1

[1, 2, 3, 4, 5]

In [76]:
list(range(1,13,2)) # increments of 2

[1, 3, 5, 7, 9, 11]

In [77]:
# Ranges take up less memory than lists because they do not hold all the numbers simultaneously.

In [78]:
# Strings --------------------------------------------------------------------------------------------------------------
# Are immutable objects, so it doesnt modify, but gives a new string

In [79]:
S = "Python"

In [80]:
len(S)

6

In [82]:
S[0]

'P'

In [84]:
S[-1]

'n'

In [85]:
S[0:3]

'Pyt'

In [87]:
S[-3:]

'hon'

In [88]:
"y" in S

True

In [89]:
"Y" in S

False

In [92]:
"Hello" + " World"

'Hello World'

In [94]:
3*S # similar to multiplication, 3*5 = 5 + 5 + 5.

'PythonPythonPython'

In [96]:
# use str() function 
"eight equals " + str(8)

'eight equals 8'

In [97]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [99]:
str.replace?

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [101]:
name = "Manuel"

In [102]:
name.replace("M", "m") # gives a new string, doesnt modify current string

'manuel'

In [108]:
# Split mehotd: takes a string and gives substrings
names = name.split("n")

In [109]:
type(names)

list

In [110]:
len(names)

2

In [111]:
names[0] # access like a list

'Ma'

In [112]:
names[1]

'uel'

In [113]:
type(names[0])

str

In [115]:
names[0].upper()

'MA'

In [125]:
# Strings: Question 2 
# Which of the following lines of code will fail to return the integers 0 through 9 in a single string?
# "0"+"1"+"2"+"3"+"4"+"5"+"6"+"7"+"8"+"9"
"0"+"1"+"2"+"3"+"4"+"5"+"6"+"7"+"8"+"9"

'0123456789'

In [127]:
"".join([str(i) for i in range(10)])

'0123456789'

In [129]:
str(range(10)) # fail

'range(0, 10)'

In [130]:
# Strings: Question 3 
x = "125,000"
# Can you find a string method that tests if x only contains digits?

In [137]:
x.isdigit?

Signature: x.isdigit()
Docstring:
Return True if the string is a digit string, False otherwise.

A string is a digit string if all characters in the string are digits and there
is at least one character in the string.
Type:      builtin_function_or_method

In [138]:
# Sets ----------------------------------------------------------------------------------------------------------------------------
# frozen set = immutable
# set = mutable
# sets are unordered collection of objects 
# they cannot be indexed, so objects inside the sets dont have locations
# their elements can never be duplicated, unique obejcts

In [139]:
ids = set() # empty set

In [140]:
ids = set([1,2,4,6,7,8,9])

In [141]:
len(ids)

7

In [143]:
ids.add(10)

In [144]:
ids.add(2) # nothing happens

In [145]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [147]:
# remove objects
ids.pop() # removes an arbitrary member of the set

2

In [148]:
ids = set(range(10))

In [149]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [150]:
males = set([1,3,5,6,7])

In [151]:
females = ids - males # get diff of sets

In [154]:
type(females)

set

In [157]:
# union 
males | females

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [156]:
# intersection 
everyone & set([1,2,3])

{1, 2, 3}

In [159]:
# Sets Question 1: Let sets x={1,2,3} and y={2,3,4}. How could you get {4} from x and y using basic set operations?
x={1,2,3}
y={2,3,4}

In [162]:
y - x

{4}

In [164]:
# Sets Question 2:  How could you get {2, 3} from x and y using basic set operations?
x & y

{2, 3}

In [169]:
# How could you get {1, 4} from x and y using the provided set methods?
set(x | y) - set(x & y)

{1, 4}

In [170]:
# Sets: Question 4: Which of the following lines of code will determine if all elements of x are in y?

In [171]:
x.issubset(y)

False

In [2]:
# Dictionaries --------------------------------------------------------------------------------------------------------
# Are mappings from key objects to value objects.
# Consist of Key: value pairs, where the keys must be immutable and the values can be anything
# Dictionaries themselves are mutable
# THEY ARE NOT SEQUENCES (DO NOT HAVE LEFT-RIGHT ORDER)
# We can use integer, string, tuples as dictionary keys but cannot use list as a key of it .

In [3]:
# 2 ways of declaring a dictionary
age = {}
age = dict()

In [4]:
age = {"Tim": 29, "Jim": 31, "Pam":27, "Sam": 35}

In [5]:
age["Pam"]

27

In [6]:
age["Tim"] = age["Tim"]+1

In [7]:
age["Tim"] += 1 # as in Java

In [8]:
age["Tim"]

31

In [9]:
names = age.keys() # get keys as names

In [10]:
type(names)

dict_keys

In [11]:
age["Tom"] = 50

In [12]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [13]:
ages = age.values()

In [14]:
ages

dict_values([31, 31, 27, 35, 50])

In [16]:
age["Nick"] = 31

In [17]:
names # nick is also contained in the name object, the content is dynamically updated

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom', 'Nick'])

In [18]:
"Tom" in age # object membership

True

In [19]:
age={'Tim':29, 'Jim':31, 'Pam':27, 'Sam':35}